host = {{ openfortivpn.server.host }}
port = {{ openfortivpn.server.port }}
user-cert = /openfortivpn-credentials/{{ openfortivpn.certificate.crtfile }}
user-key = /openfortivpn-credentials/{{ openfortivpn.certificate.keyfile }}
trusted-cert = {{ openfortivpn.server.certdigest }}
